body, html {
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
}

section {
	padding:15px 0px;
	min-height: 100vh;
	width: 100vw;
	border:1px solid purple;
	border-left: 0;
	border-right: 0;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	scroll-snap-align: start;

	&.alt {
		color:white;
		background-color: $secondary;
	}

	&.page-1 {
		color:white;
		background: url("../images/2024/cover-bg.jpg") center no-repeat;
		background-size:cover;
		// background-attachment: fixed;
		background-color:black;
	
		a {
			color:white;
		}
	}

	&#perc-bluehawks {
		background: url("../images/2024/perc-bg.jpg") center no-repeat;
		background-size: cover;
		background-color: black;
		color:white;
	}

	&#guard-marshwood {
		background: url("../images/2024/guard-bg.jpg") center no-repeat;
		background-size: cover;
		background-color: black;
		color:white;
	}
}